nav {
    list-style-type: none;
    display: inline;
    opacity: 0.75;
    height: 100px;
    width: 100%;
    margin-top: 70px;
}

.thelist{
  list-style-type: none;
  display: block;
  color: antiquewhite;
  text-align: left;
  font-size: 20px;
  padding: 0px;
  margin-top: 0px;
}
a {
    list-style-type: none;
    color: antiquewhite;
    display: inline;
    float: left;
    text-align: center;
    margin-right: 40px;
    margin-top: 15px;
    margin: 40px;
    margin-left:80px;
    
}



body {
    background: url(../img/photo.jpg) no-repeat center center fixed;
    color: rgb(255, 255, 255);
  
    
}
div {
    float: left;
    display:inline-block ;
    background-color: rgb(145, 55, 55, 0.2);
    backdrop-filter: blur(8px);
    font-size: 25px;
    margin-right: 100px;
    margin-bottom: 10px;
}
footer{
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;    
}