nav {
    list-style-type: none;
    display: inline;
    opacity: 0.75;
    height: 100px;
    width: 100%;
    margin-top: 70px;
}

.thelist a{
  list-style-type: none;
  display: block;
  color: antiquewhite;
  text-align: left;
  font-size: 20px;
  padding: 0px;
  margin-top: 0px;
}



body {
    background: url(img.jpg) no-repeat center center fixed;
    color: rgb(255, 255, 255);
  
    
}
p {
    display: block;
    background-color: rgb(145, 55, 55);
    font-size: 25px;
}